<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">
	Hello! {{ user.email }} wellcome to the Creed 
		  The Research Equipment Catalogue is a web-based catalogue of UCL's major 
		  research equipment, f
		  rom across the whole university. The catalogue allows users to browse and search 
		  for items and contact the relevant custodian(s) through an enquiry form, 
		  or directly via email. The software 
		  can also be used by departments to 
		  manage and keep track of their equipment.
	
	
	
	
	
	</p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    List of Institutions
  </button>
	<div class="btn-group">
  
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="" aria-expanded="false" aria-controls="collapseExample">
    List of technologies by category
  </button>
  <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="{% url 'lab_index' %}">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Separated link</a>
  </div>
</div>
  </div>
  
  
 
</div>