  
<div class="container-fluid">
<h2>A list of available Techinologies from Microbiology category</h2>
    <table class="table table-striped table-sm" id="my_friends">
        <thead>
            <tr>
                <th>Nick name</th>
                <th>Name</th>
                <th>Hardware</th>
                <th>Software</th>
                <th>Licensed</th>
                <th>Both</th>
				<th>Open Souce</th>
				<th>Developed</th>
				<th>Capacity</th>
				<th>Status</th>
            </tr>
        </thead>
        <tbody>
        {% for microbio in microbios %}
        <tr>
            <td>{{microbio.nick_name}}</td>
            <td>{{microbio.name}}</td>
            <td>{{microbio.hardware}}</td>
            <td>{{microbio.software}}</td>
            <td>{{microbio.licensed}}</td>
            <td>{{microbio.both}}</td>
			<td>{{microbio.open_souce}}</td>
			<td>{{microbio.developed}}</td>
			<td>{{microbio.capacity}}</td>
			<td>{{microbio.status}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>  
