  
<div class="container-fluid">
<h2>A list of available Techinologies from Other category</h2>
    <table class="table table-striped table-sm" id="my_friends">
        <thead>
            <tr>
                <th>Nick name</th>
                <th>Name</th>
                <th>Hardware</th>
                <th>Software</th>
                <th>Licensed</th>
                <th>Both</th>
				<th>Open Souce</th>
				<th>Developed</th>
				<th>Capacity</th>
				<th>Status</th>
            </tr>
        </thead>
        <tbody>
        {% for othcat in othcats %}
        <tr>
            <td>{{othcat.nick_name}}</td>
            <td>{{othcat.name}}</td>
            <td>{{othcat.hardware}}</td>
            <td>{{othcat.software}}</td>
            <td>{{othcat.licensed}}</td>
            <td>{{othcat.both}}</td>
			<td>{{othcat.open_souce}}</td>
			<td>{{othcat.developed}}</td>
			<td>{{othcat.capacity}}</td>
			<td>{{othcat.status}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>  
