 <!-- Breadcrumb -->
          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'welcome' %}">Welcome</a></li>
              <li class="breadcrumb-item"><a href="{% url 'application' %}">Project Information</a></li>
			   <li class="breadcrumb-item"><a href="{% url 'perhist' %}">Permit History</a></li>
			  <li class="breadcrumb-item"><a href="{% url 'method' %}">Methodology</a></li>
			  <li class="breadcrumb-item"><a href="{% url 'ethica' %}">Ethical Review</a></li>
			  <li class="breadcrumb-item"><a href="{% url 'collab_list' %}">Collaborator</a></li>
              <li class="breadcrumb-item active" aria-current="page"></li>
            </ol>
          </nav>
 <!-- /Breadcrumb -->
    