{% extends "base.html" %}

{% block content %}



 <section id="dashboard" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>{{ user.first_name }}</h2>
		      <!-- Breadcrumb -->
		   
          
		   
      </div>
	  
	</div>
  </section>
  
  
   <!-- Color System -->
                            

  
  
{% include 'partials/_dashnav.html' %}


<hr />

{% include 'partials/_radnav.html' %}



<hr />


  
  </div>
</div>  
</div>  
  

{% endblock content %}


